{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="card">
                <div class="card-header bg-gradient-dark">
                    <h4>Se Connecter</h4>

                </div>
                <div class="card-body">

                </div>

                This friendly message is coming from:
                <ul>
                    <li>Your controller at <code>D:/Projects/cgs/cgs_admin/src/Controller/LoginController.php</code></li>
                    <li>Your template at <code>D:/Projects/cgs/cgs_admin/templates/login/index.html.twig</code></li>
                </ul>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

{% endblock %}
